<div data-test="size-{{size}}" class="su-component-avatar su-relative su-block su-rounded-full su-bg-gradient-light-red-h su-overflow-hidden {{avatarWrapperClasses size}}">
    <img class="su-absolute su-rounded-full su-object-cover su-object-center {{avatarImageClasses size}}" src="{{avatarURL}}" alt="{{avatarAlt}}" />
</div>