<div class='su-w-full su-relative su-z-20'>
    <div
        class='su-rs-pt-2 su-rs-pb-6 su-rs-px-5 su-text-white su-flex su-items-center su-flex-col su-gap-44 lg:su-flex-row-reverse su-border-t su-border-black-30 su-relative'
    >
        {{#if imageSrc}}
            <div
                class='su-rounded-full su-size-160 md:su-size-200 2xl:su-size-300 su-shrink-0 su-overflow-hidden'
            >
                <img
                    src='{{imageSrc}}'
                    alt='{{imageAlt}}'
                    class='su-object-cover su-size-full'
                />
            </div>
        {{/if}}
        <blockquote class='su-type-1'>
            <p
                class='su-font-serif su-leading-display'
                data-se='quote'
            >“{{quote}}”</p>
            <footer class='su-font-bold su-leading-snug'>
                {{#if quoteLink}}
                    <a
                        href='{{quoteLink}}'
                        class='su-font-bold su-text-white dark:su-text-white su-underline su-decoration-dark-mode-red su-underline-offset-4 su-decoration-[3px] hocus-visible:su-decoration-white hocus-visible:su-text-white dark:hocus-visible:su-text-white su-transition-all'
                        data-se='name'
                    >
                        {{name}}
                    </a>
                {{else}}
                    <span data-se='name'>{{name}}</span>
                {{/if}}
                {{#if extra}}
                    <span data-se='extra'>, {{extra}}</span>
                {{/if}}
            </footer>
        </blockquote>
    </div>
</div>