<div class='su-flex lg:su-items-center su-text-white su-bg-cardinal-red'>
    <div
        class='su-flex su-pl-20 su-pr-20 md:su-pl-50 md:su-pr-50 su-mx-auto su-w-full su-max-w-[1412px]'
    >
        <div
            class='su-rs-py-1 su-grow su-flex su-flex-col lg:su-flex-row lg:su-gap-45 xl:su-gap-50'
        >
            <div
                class='su-mx-auto su-mb-20 sm:su-mb-10 lg:su-mx-0 lg:su-mb-0 su-max-w-90 sm:su-max-w-110 md:su-max-w-120 lg:su-max-w-130'
            >
                <a href='{{logoLink}}'>
                    <img src='{{logoUrl}}' alt='{{logoAlt}}' />
                </a>
            </div>
            <div
                class='su-flex su-justify-center lg:su-flex-col su-flex-wrap lg:su-grow'
            >
                {{~#if navigationTop~}}
                    <div>
                        <ul
                            class='su-list-none su-mb-10 sm:su-mb-4 su-mr-19 sm:su-mr-0 su-p-0 su-text-15 md:su-text-17 2xl:su-text-18 su-flex su-flex-col sm:su-flex-row'
                        >
                            {{~#each navigationTop~}}
                                <li class='sm:su-mr-10 md:su-mr-20 lg:su-mr-27'>
                                    <a
                                        class='su-no-underline hocus:su-text-white hocus:su-underline su-text-white dark:su-text-white'
                                        href='{{asset_attribute_redirect_url}}'
                                    >
                                        {{unescapeHtml asset_name}}
                                    </a>
                                </li>
                            {{~/each~}}
                        </ul>
                    </div>
                {{~/if~}}
                {{~#if navigationBottom~}}
                    <div
                        class='lg:su-ml-0 lg:su-mr-0 su-font-normal su-text-14 su-mb-10 lg:su-text-15'
                    >
                        <ul
                            class='su-list-unstyled su-mb-10 sm:su-mb-0 su-ml-19 sm:su-ml-0 su-p-0 su-text-15 sm:su-text-14 md:su-text-15 xl:su-text-16 su-flex su-flex-col sm:su-flex-row'
                        >
                            {{~#each navigationBottom~}}
                                <li class='sm:su-mr-10 md:su-mr-20 lg:su-mr-27'>
                                    <a
                                        class='su-no-underline hocus:su-text-white hocus:su-underline sm:su-font-normal su-text-white dark:su-text-white'
                                        href='{{asset_attribute_redirect_url}}'
                                    >
                                        {{unescapeHtml asset_name}}
                                    </a>
                                </li>
                            {{~/each~}}
                        </ul>
                    </div>
                {{~/if~}}
                <div
                    class='su-text-13 sm:su-text-14 su-text-center lg:su-text-left'
                >
                    <p class='su-mb-0 su-text-center lg:su-text-left su-w-full'>
                        &copy;&nbsp;
                        <span
                            class='su-hidden md:su-inline su-mr-2'
                        >Copyright</span>
                        {{unescapeHtml copyright}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>