<h4 style="color: lime">videoUrl: {{videoUrl}}</h4>
<h4 style="color: lime">imageUrl: {{imageUrl}}</h4>
<h4 style="color: lime">imageAlt: {{imageAlt}}</h4>
<h4 style="color: lime">aspectRatio: {{aspectRatio}}</h4>
{{#if videoUrl}}
    <button
        class='su-component-card-thumbnail su-group su-block su-relative su-z-10 su-size-full'
        type='button'
        aria-haspopup='dialog'
        data-click='open-modal'
        data-modal-id='{{uniqueID}}'
    >
    {{#> media-ratio imageUrl=imageUrl imageAlt=imageAlt aspectRatio=aspectRatio}}
        {{!-- {{#ifEquals size  "vertical-video"}}
            <div aria-hidden="true" class="su-absolute su-inset-0 su-bg-gradient-to-t su-from-black-true/80 su-via-80% su-via-black-true/10 su-pointer-events-none su-z-20"
            ></div>
        {{/ifEquals}} --}}
        <p>Test media-ratio</p>
        {{!-- <span class="su-absolute su-leading-none {{#ifEquals size "small"}}su-left-13 su-bottom-13 [&>svg]:su-text-[4rem]{{/ifEquals}}{{#ifEquals size "medium"}}su-left-13 su-bottom-13 md:su-left-27 md:su-bottom-27 [&>svg]:su-text-[4rem] [&>svg]:md:su-text-[6rem]{{/ifEquals}}{{#ifEquals size "large"}}su-left-13 su-bottom-13 [&>svg]:su-text-[4rem]{{/ifEquals}}{{#ifEquals size "featured"}}su-left-13 su-bottom-13 md:su-left-27 md:su-bottom-27 [&>svg]:su-text-[4rem] [&>svg]:md:su-text-[6rem]{{/ifEquals}}{{#ifEquals size "vertical-video"}}su-z-30 su-left-32 su-bottom-34 sm:su-left-48 sm:su-bottom-61 lg:su-left-32 lg:su-bottom-34 2xl:su-left-48 2xl:su-bottom-61 [&>svg]:su-text-[6rem]{{/ifEquals}} {{videoIconClasses}}">
            {{> fontawesome-icon
                icon="circle-play"
                iconTestId="svg-circle-play"
                set="regular"
                classes="su-text-white dark:su-text-white su-drop-shadow-[0px_10px_20px_rgba(0,0,0,0.30)]"
            }}
        </span> --}}
    {{/ media-ratio}}
    </button>
{{else}}
    <div class='su-component-card-thumbnail su-w-full su-h-full'>
        {{!-- {{#> media-ratio imageUrl=imageUrl imageAlt=imageAlt aspectRatio=aspectRatio}}
    {{/ media-ratio}} --}}
    </div>
{{/if}}