<article aria-label="{{title}}" class="su-group su-relative su-w-full su-flex su-flex-col su-break-words su-rounded-[8px] su-rs-pt-5 su-rs-px-4 su-max-w-900 su-mx-auto su-transition-shadow su-border dark:su-border-2 su-border-black-30/30 dark:su-border-black su-shadow dark:su-shadow-black/80 su-bg-white dark:su-bg-black-true su-text-black dark:su-text-white {{#if link}}hover:su-shadow-md focus-within:su-shadow-md su-rs-pb-4{{else}}su-rs-pb-5{{/if}}">
    {{~#if eyebrow~}}
        <span aria-hidden="true" class="su-type-1 su-text-black-60 su-font-semibold su-rs-mb-1">
          {{eyebrow}}
        </span>
    {{~/if~}}
    <h3 class="su-type-5 md:su-type-4 2xl:su-type-3 su-mb-0 su-font-sans su-text-black dark:su-text-white">
        {{~#if link~}}
          <a href="{{link}}"{{#if isNewWindow}} target="_blank"{{/if}}{{#if isRealExternalLink}} rel="noopener nofollow"{{/if}} class="group-hocus-within:su-underline su-stretched-link su-text-black dark:su-text-white group-hocus-within:su-text-digital-red dark:group-hocus-within:su-text-digital-red-light">
            {{~#if eyebrow~}}<span class="su-sr-only">{{eyebrow}}: </span>{{~/if~}}
            {{title}}
            {{~#if isRealExternalLink~}}
                <span class="su-sr-only">(link is external)</span>
            {{~/if~}}
          </a>
        {{~else~}}
            {{~#if eyebrow~}}<span class="su-sr-only">{{eyebrow}}: </span>{{~/if~}}
            {{title}}
        {{~/if~}}
      </h3>
    {{~#if description~}}
        <div class="su-grow">
            <div data-test="cta-card-content" class="su-text-black dark:su-text-white su-big-paragraph su-rs-mt-4 *:su-leading-snug *:last:su-mb-0">
                {{{description}}}
            </div>
        </div>
    {{~/if~}}
    {{~#if link~}}
        <div class="su-mt-auto">
            <div class="su-flex su-rs-mt-1 su-transition-transform su-items-center su-justify-center su-size-50 md:su-size-70 su-rounded-full su-bg-gradient-to-r su-from-digital-red-light su-to-cardinal-red-dark dark:su-from-olive dark:su-to-palo-verde su-ml-auto {{#if isRealExternalLink}}group-hocus-within:su-translate-x-02em group-hocus-within:su--translate-y-02em{{else}}group-hocus-within:su-translate-x-03em{{/if}}">
            {{~#if isRealExternalLink~}}
                {{> svg-icons strokeWidth=3 icon="external arrow unstyled" classes="su-inline-block su-w-20 md:su-w-30 su-text-white dark:su-text-black-true *:su-stroke-3"}}
            {{~else~}}
                {{> svg-icons icon="chevron right" classes="su-inline-block su-w-22 md:su-w-36 su-text-white dark:su-text-black-true *:su-stroke-3" noDimensions=true}}
            {{~/if~}}
            </div>
        </div>
    {{~/if~}}
</article>